div.bar0 {
 display: inline-block;
 width:20px;
 height:75px;
 background-color: teal;
}

div.bar1 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar2 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar3 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar4 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar5 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar6 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar7 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar8 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar9 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar9 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}

div.bar10 {
    display: inline-block;
    width:20px;
    height:75px;
    background-color: teal;
}